<div class="panel panel-primary">
    <h1 class="padding-20">Welcome to the website</h1>
</div>
<div class="panel panel-primary">
    <div class="padding-20">
        <p>Here you will find.</p>
        <ul>
            <li>A simple calculator</li>
            <li>You can convert your text file to a json file</li>
            <li>More features are under construction</li>            
        </ul>
        <div layout="row">
            <div flex-xs="100" flex-gt-xs="100" flex-gt-md="50">
                <inputgroup tooltip, required, models="models" labels="labels" placeholders="placeholders"
                 types="types">
                </inputgroup>
            </div>
        </div>
    </div>
</div>